@import "normalize.css";


/** MAIN STUFF **/

body{
  font-family:'DroidSansBold', Arial, sans-serif;
}

header{
  width:100%;
  background:#999;
  position: fixed;
  top:0;
  height:150px;
  z-index: 2;
  color:red;
}

header > div{
  max-width:960px;
  margin:0 auto;
}

hgroup{
  float:left;
  margin:0 30px;
}


.content{
  padding:200px 20px 20px 20px;
  margin:0 auto;
  max-width:960px;
}

h3{
  border-bottom:1px solid #ccc;
  padding-bottom:10px;
  margin-bottom:10px;
}

h3::before{
  content:"";
  display:inline-block;
  width:20px;
  height:20px;
  background:red;
  margin-right:5px;
  border-radius: 50%;
}

section{
  width:50%;
  float:left;
  box-sizing: border-box;
}


/** SKILLS STUFF **/

.skill{
  background:#ccc;
  margin:3px;
  padding:5px;
}

.skill span{
  width:0;
  background:red;
  display:block;
  padding:5px;
  color:white;
  line-height: 1;
}

.skill[data-skill="1"] span{width:10%;}
.skill[data-skill="2"] span{width:20%;}
.skill[data-skill="3"] span{width:30%;}
.skill[data-skill="4"] span{width:40%;}
.skill[data-skill="5"] span{width:50%;}
.skill[data-skill="6"] span{width:60%;}
.skill[data-skill="7"] span{width:70%;}
.skill[data-skill="8"] span{width:80%;}
.skill[data-skill="9"] span{width:90%;}
.skill[data-skill="10"] span{width:100%;}

.skills-primary::before, .skills-secondary::before{
  margin-top:10px;
  display: inline-block;
}

.skills-primary::before{
  content:"Main"
}

.skills-secondary::before{
  content:"Other"
}

.skills-secondary .skill{
  opacity: .7
}

/** EXPERIENCES STUFF **/

.experience h4{
  color:red;
  margin-bottom:3px;
}
.experience-details{
  color:#999;
  margin-left:10px;
}
.experience-type{
  font-weight:bold; 
}
.experience-institution{
  font-weight: normal;
}
.experience-institution::before{
  content:"@ ";
}
.experience-location::before{
  content:"In"
}
.experience-date::before{
  content:" on "
}
.experience-date-separator{
  color:red;
}

/** CONTACTS STUFF **/

#contact{
  position:fixed;
  top:10px;
  right:10px;
  z-index: 3;
  background: black;
}

#contact h3{
  display: none;
}

.contact{
  margin:0;
}

.contact-type,.contact-value{
  display:inline-block;
  margin:0;
  padding:3px;
}

.contact-type{
  width:120px;
  background:red;
  color:white;
}

.contact-value a{
  text-decoration: none;
  color:red;
}

/** MEDIA QUERIES **/

@media only screen and (max-width: 960px) {
  section{
    width:100%;
  }
}

@media only screen and (max-width: 450px) {
  header{
    height:300px;
  }
  hgroup{
    width:100%;
  }
  .content{
    padding-top:350px;
  }
  #contact{
    position:static;
    top:auto;
    right:auto;
    background:transparent;
  }
  #contact h3{
    display:block;
  }
}